<%= form_for(@cohort_officer) do |f| %>
  <% if @cohort_officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cohort_officer.errors.count, "error") %> prohibited this cohort_officer from being saved:</h2>

      <ul>
      <% @cohort_officer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.text_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :cohort_id %><br>
    <%= f.text_field :cohort_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
