<table>
  <thead>
    <tr>
      <th class="header" colspan="6">
        <h1 class="headerText">Cohort Officers</h1>
      </th>
    </tr>
    <tr class="headerRow">
      <th>Contact</th>
      <th>Cohort</th>
      <th>Role</th>
<!--       <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody class="bodyRow">
    <% @cohort_officers.each do |cohort_officer| %>
      <tr>
        <td><%= link_to "#{cohort_officer.contact.first_name} #{cohort_officer.contact.last_name}", cohort_officer %></td>
        <td><%= "#{cohort_officer.cohort.program.name} #{cohort_officer.cohort.name}" %></td>
        <td><%= cohort_officer.role %></td>
 <!--        <td><%= link_to 'Show', cohort_officer %></td>
        <td><%= link_to 'Edit', edit_cohort_officer_path(cohort_officer) %></td>
        <td><%= link_to 'Destroy', cohort_officer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<div class="footer">
  <div class="button-add-new">
    <%= link_to 'Add new Cohort officer', new_cohort_officer_path %>
  </div>
</div>

