
<p>
  <strong>Contact:</strong>
  <% @contact = Contact.find(@cohort_officer.contact_id) %>
  <%= "#{@contact.first_name} #{@contact.last_name}" %>

</p>

<p>
  <strong>Cohort:</strong>
  <% @cohort = Cohort.find(@cohort_officer.cohort_id) %>
  <%= "#{@cohort.name}" %>
</p>

<p>
  <strong>Role:</strong>
  <%= @cohort_officer.role %>
</p>

<%= link_to 'Edit', edit_cohort_officer_path(@cohort_officer) %> |
<%= link_to 'Back', cohort_officers_path %>
