
<table>
  <thead>
    <tr>
      <th class="header" colspan="8">
        <h1 class="headerText">Cohorts</h1>
      </th>
    </tr>

     <tr class="headerRow">
      <th>Name</th>
      <th>Location</th>
      <th>Start date</th>
      <th>End date</th>
<!--       <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody class="bodyRow">
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to cohort.name, cohort %></td>
        <td><%= cohort.location %></td>
        <td><%= cohort.start_date %></td>
        <td><%= cohort.end_date %></td>
        <td><%= cohort.program.name %></td>
<!--         <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort', new_cohort_path %>


<div id="catlogo"></div>
