<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @cohort.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Program:</strong>
  <%= @cohort.program %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
