<table>
  <thead>
    <tr>
      <th class="header" colspan="8">
        <h1 class="headerText"><%= @cohort.name %></h1>
      </th>
    </tr>

    <tr>
      <th class="linkBar" colspan="7">
        <div class="button-add-new">
          <%= link_to 'Edit', edit_cohort_path(@cohort) %> |
          <%= link_to 'Back', cohorts_path %>
        </div>
      </th>
    </tr>

    <tr class="headerRow">
      <th>Location</th>
      <th>Program</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @cohort.location %></td>
      <td><%=  @cohort.program.name %></td>
    </tr>
  </tbody>

  <thead>
    <tr class="headerRow">
      <th>Instructors</th>
      <th>Students</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <% @instructors.each do |instructor| %>
        <% if (instructor.cohort.name == @cohort.name) %>
        <li> <%= instructor.contact.first_name %> <%= instructor.contact.last_name %> </li>
        <% else %>
        <% end %>
        <% end %>
      </td>

      <td>
        <% @students.each do |student| %>
        <% if (student.cohort.name == @cohort.name) %>
        <li> <%= student.contact.first_name %> <%= student.contact.last_name %> </li>
        <% else %>
        <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>