<p id="notice"><%= notice %></p>

<p>
<strong> Cohort Name:</strong>
<%= @cohort.name %>
</p>

<p>
  <strong>Cohort Location:</strong>
  <%= @cohort.location %>
</p>

<p>
    <strong>Program Name:</strong>
</p>

<ul class="unbulleted-list">
  <li>
    <%=  @cohort.program.name %>
  </li>
</ul>

<button>
  Back to all programs
</button>

<p>
  All students MAKE CLICKABLE:
</p>
<ul class="unbulleted-list">
  <% @students.each do |student| %>
    <% if (student.cohort.name == @cohort.name) %>
      <li> <%= student.contact.first_name %> <%= student.contact.last_name %> </li>
    <% else %>
    <% end %>
  <% end %>
</ul>

<p>
  Instructors MAKE CLICKABLE:
</p>
<ul class="unbulleted-list">
  <% @instructors.each do |instructor| %>
    <% if (instructor.cohort.name == @cohort.name) %>
      <li> <%= instructor.contact.first_name %> <%= instructor.contact.last_name %> </li>
    <% else %>
    <% end %>
  <% end %>
</ul>

<strong>
  All cohorts MAKE PART OF SIDEBAR
</strong>


<ul class="unbulleted-list">
  <% @cohorts.each do |cohort| %>
    <% if @program_name == cohort.program.name %>
      <li> <%= cohort.name  %> </li>
    <% else %>
    <% end %>
  <% end %>
</ul>


<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
