<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.label :employed %><br>
    <%= f.check_box :employed %>
  </div>
  <div class="field">
    <%= f.label :employer %><br>
    <%= f.text_field :employer %>
  </div>
  <div class="field">
    <%= f.label :employed_as %><br>
    <%= f.text_field :employed_as %>
  </div>
<!--   <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.text_field :contact_id %>
  </div> -->
  <div class="field">
    <%= f.label :cohort_id %><br>
    <%= f.text_field :cohort_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
