
<div id='total_employed'>
  <!-- <% @total_employed %>
  <% @total_looking %> -->
  <% @overall %>
</div>

<% @overall_90 %>
<!-- <div id="test-feed" style="background-color: #fc0; color:#003; width:100px; height:35px; margin:0 auto; font-family:'Open Sans', sans-serif; font-size:1em; font-style:italic; cursor:pointer; border-radius:5px; top:10px;">test-feed</div> -->


<div id="canvas-container">

    <div class="top-text-header">Dashboard
    </div>

    <%# <section>
        <article>
            <canvas id="lineChart01" width="400" height="400"></canvas>
            <canvas id="barChart01" width="400" height="400"></canvas>
        </article>
    </section>

    <section>
        <article>
            <canvas id="radarChart01" width="400" height="400"></canvas>
            <canvas id="polarChart01" width="400" height="400"></canvas>
        </article>
    </section> %>

    <section id="charts">
        <article>
            <div class="dashboard-widget">
              <ul class="dashboard-chart">
                <li style="text-align:center;">
                  All times
                </li>
                <li>
                  <canvas id="pieChart01" width="250" height="250" class="pie-chart employed-all"></canvas>
                </li>
              </ul>
            </div>

            <div class="dashboard-widget">
              <ul class="dashboard-chart">
                <li style="text-align:center;">
                  Last 90 days
                </li>
                <li>
                  <canvas id="doughnutChart01" width="250" height="250" class="doughnut-chart employed-totals"></canvas>
                </li>
              </ul>
            </div>

            <div class="dashboard-widget cohort-list">
              <ul class="dashboard-chart">
                <li style="text-align:center;">Cohorts</li>
                <% Cohort.all.each do |cohort| %>
                <li style="text-align:center;">
                  <div class="cohorts-name-list">
                    <a href="<%= cohort_path(cohort) %>"><%="View #{cohort.name} Page"%></a>
                  </div>
                </li>
              <%end%>
                <li>
                  <br />
                  <div class="cohorts-name-list">

                    <!-- <select class="" name="">
                      <% Cohort.all.each do |cohort| %>
                        <option value="<%=cohort.name%>"><%=cohort.name%></option>
                      <%end%>
                    </select> -->
                    <%= form_tag('/dashboard') do -%>
                    <%= select_tag(:cohort_options, options_for_select(@cohort_options), include_blank: "All Cohorts") %>
                    <%end%>
                  </div>
                </li>
              </ul>
            </div>
        </article>
    </section>
</div>
<script type="text/javascript">
  initCharts();
</script>
</div>

<table class="records-list" style="height:100%">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Completed?</th>
      <th>Employed?</th>
      <th>Employer</th>
      <th>Employed as</th>
      <th>Contact</th>
      <th>Cohort</th>
      <th>Send Survey</th>
      <th>Employed date</th>
      <th>Employed in 90</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.username %></td>
        <td><%= student.password %></td>
        <td><%= student.completed? %></td>
        <td><%= student.employed? %></td>
        <td style="max-width:100px;"><%= student.employer %></td>
        <td><%= student.employed_as %></td>
        <td><%= student.contact.email %></td>
        <td><%= student.cohort.name %></td>
        <td>
          <%#= student%>
          <%= button_to "Send :)", action:'send_reminder_email', method:'post', data: { id: student.id } %>
          <!-- <%= tag "input", {"type" => "button", "value" => "Send :)", "action" => "send_reminder_email(#{@student})", "method" => "post"} %> -->
        </td>
        <td><%= link_to 'Show', student %></td>
        <td><%= student.employed_date %></td>
        <td><%= student.employed_in_90_days? %></td>
        <td style="width:50px;"><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="15" style="text-align:center; border-top:1px solid #999;">
          <%= link_to 'New Student', new_student_path  %>
        </td>
      </tr>
  </tbody>
</table>
<br>
