<table>
  <thead>
    <tr>
      <th class="header" colspan="10">
        <h1 class="headerText">Students</h1>
      </th>
    </tr>
    <tr>
      <th class="linkBar" colspan="7">
        <div class="button-add-new">
        <%= link_to 'Add New Student', new_student_path %>
        </div>
      </th>
    </tr>
    
    <tr class="headerRow">
      <th>Username</th>
      <th>Survey completed?</th>
      <th>Employed?</th>
      <th>Employer</th>
      <th>Employed as</th>
      <th>Contact</th>
      <th>Cohort</th>
    </tr>
  </thead>

  <tbody class="bodyRow">
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.username, student %></td>
        <td><%= student.completed? %></td>
        <td><%= student.employed? %></td>
        <td><%= student.employer %></td>
        <td><%= student.employed_as %></td>
        <td><%= student.contact.email %></td>
        <td><%= student.cohort_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


