<table>
  <thead>
    <tr>
      <th class="header" colspan="2">
        <h1 class="headerText">Student Profile</h1>
      </th>
    </tr>
    <tr>
       <th class="linkBar" colspan="2">
        <div class="button-add-new">
        <%= link_to 'Edit', edit_student_path(@student) %> | <%= link_to 'Back', students_path %>
        </div>
      </th>
    </tr>
  </thead>

  <tbody class="bodyRow">
    <tr>
      <td><strong>Username</strong></td>
      <td><%= @student.username %></td>
    </tr>

    <tr>
      <td><strong>Password</strong></td>
      <td><%= @student.password %></td>
    </tr>

    <tr>
      <td><strong>Completed?</strong></td>
      <td><%= @student.completed? %></td>
    </tr>

    <tr>
       <td><strong>Employed?</strong></td>
       <td><%= @student.employed? %></td>
    </tr>

    <tr>
      <td><strong>Employer</strong></td>
      <td><%= @student.employer %></td>
    </tr>

    <tr>
      <td><strong>Employed as:</strong></td>
      <td><%= @student.employed_as %></td>
    </tr>

    <tr>
      <td><strong>Contact:</strong></td>
      <td><%= @contact_info.email %></td>
    </tr>

    <tr>
      <td><strong>Cohort:</strong></td>
      <td><%= @student.cohort.name %></td>
    </tr>
  </tbody>
</table>

<table>
    <thead>
      <tr class="headerRow">
        <th>100 Day Survey</th>
      </tr>
    </th>
  </thead>

  <tbody class="bodyRow">
    <tr>
      <% if @student.hundred_days? %>
      <td><strong><%= "Yes, you can take the survey!" %></strong></td>
      <% else %>
      <td><strong><%= "No, you can't take the survey yet. Check back 100 days after graduation." %></strong></td>
      <% end %>
    </tr>
  </tbody>
</table>

<table>
    <thead>
      <tr>
        <th class="headerRow" colspan="5">Contact Info</th>
      </tr>
    </th>
  
  <tbody class="bodyRow">
    <tr>
      <% @student.contact_info_list.each do |something|  %>
      <td><%= something %></td>
      <% end %>
    </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
</table>

<!-- <div class="footer">
  <div class="button-add-new">
    <%= link_to 'Edit', edit_student_path(@student) %> |
    <%= link_to 'Back', students_path %>
  </div>
</div> -->
