<p>
  <strong>Username:</strong>
  <%= @student.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @student.password %>
</p>

<p>
  <strong>Completed?:</strong>
  <%= @student.completed? %>
</p>

<p>
  <strong>Employed?:</strong>
  <%= @student.employed? %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @student.employer %>
</p>

<p>
  <strong>Employed as:</strong>
  <%= @student.employed_as %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @contact_info.email %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @student.cohort.name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
