  <p>

  <strong>Username:</strong>
  <%= @student.username %>
  </p>

  <p>
  <strong>Password:</strong>
  <%= @student.password %>
  </p>

  <p>
  <strong>Completed?:</strong>
  <%= @student.completed? %>
  </p>

  <p>
  <strong>Employed?:</strong>
  <%= @student.employed? %>
  </p>

  <p>
  <strong>Employer:</strong>
  <%= @student.employer %>
  </p>

  <p>
  <strong>Employed as:</strong>
  <%= @student.employed_as %>
  </p>

  <p>
  <strong>Contact:</strong>
  <%= @contact_info.email %>
  </p>

  <p>
  <strong>Cohort:</strong>
  <%= @student.cohort.name %>
  </p>
</div>


<p><ul>
  <strong> Contact info list (this is just a test for now)</strong>
    <% @student.contact_info_list.each do |something|  %>
    <li> <%= something %> </li>
    <% end %>
</p></ul>

<p>



        <strong> Graduated over 100 days ago? </strong>
        <% if @student.hundred_days? %>
        <h3><%= "Yes, you can take the survey!" %></h3>
        <% else %>
        <h3><%= "No, you can't take the survey yet. Check back 100 days after graduation." %></h3>
        <% end %>

</p>



<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
