<p id="notice"><%= notice %></p>


<div class="container">

<table>

  <tbody>
    <tr>
      <td id="header" colspan="2">
        <h1>Programs</h1>
      </td>
    </tr>

    <% @programs.each_with_index do |program, index| %>
      <tr>
        <td id='<%="program-#{index}"%>'></td>
        <td><%= link_to program.name, program %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div id="catlogo"></div>
