<table>
  <thead>
    <tr>
      <th class="header" colspan="8">
        <h1 class="headerText">Programs</h1>
      </th>
    </tr>
  <tbody class="bodyRow">
    <% @programs.each_with_index do |program, index| %>
      <tr>
        <td id='<%="program-#{index}"%>'></td>
        <td><%= link_to program.name, program %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
