<div class="switcher-sidebar">
  <table>
    <thead>
      <tr>
        <th class="header" colspan="8">
          <h3 class="headerText">All Programs</h3>
        </th>
      </tr>
    <tbody class="bodyRow">
      <% @programs.each_with_index do |program, index| %>
        <tr class ="program-index-names" key='<%= index %>' id='<%="switch-#{index}"%>'>
          <td id='<%="program-#{index}"%>'></td>
          <td><%= link_to program.name, "/programs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="switcher-main">
  <%= react_component('ProgramBox', {programs: @programs, cohorts: @cohorts}) %>
</div>
