<p>
  <strong>Student:</strong>
  <%= @student_skill.student %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @student_skill.skill %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @student_skill.experience %>
</p>


<div class="footer">
  <div class="button-add-new">
    <%= link_to 'Edit', edit_student_skill_path(@student_skill) %> |
<%= link_to 'Back', student_skills_path %>
  </div>
</div>
