<h1 class="header search-header">Contact Search</h1>

<%= react_component('ContactBox', contacts: @contacts) %>

<table>
  <thead>
    <tr>
      <th class="header" colspan="10">
        <h1 class="headerText">Contacts</h1>
      </th>
    </tr>

    <tr>
      <th class="linkBar" colspan="6">
        <div class="button-add-new">
          <%= link_to 'Add New Contact', new_contact_path %>
        </div>
      </th>
    </tr>

    <tr class="headerRow">
      <th>Name</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Github</th>
      <th>Linkedin</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody class="bodyRow">
    <% @contacts[:contacts].each do |contact| %>
      <tr>
        <td><%= link_to contact.first_name+ " " +contact.last_name, contact %></td>
        <td><%= contact.email %></td>
        <td><%= contact.twitter %></td>
        <td><%= contact.github %></td>
        <td><%= contact.linkedin %></td>
        <td><%= contact.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
