

<!--
We're going to add a Survey field to track more data. For now, it's just "employed."

1. Have you found steady work in the tech field since graduation? check
2. Where are you working (if applicable)? string input
3. How many jobs have you applied to? checkboxes
4. Have you received any feedback about your resume, good or bad? Please explain. text area
5. If you're currently employed, is the position related to y=ur career goals? textarea
6. If employed, is your position part-time, full-time, or freelance? textarea
7. What strategies did you use during your employment search? What tools have you found to be the most helpful while looking for new employment?
textarea
8. What is your personal website? string

this guy should send an email
9. Thank you for filling this out! Please let us know of any feedback you have! Afterwards, please scroll down and click "Send". Good luck! textarea
-->
<!-- <p><%=@user.name%></p>
<p><%=current_user.name%></p>
<p><%=@survey_user %></p> -->

<div class="surveyForm">

  <div class="surveyHeader">
    <h2>Congratulations <%=@survey_user.name %>.</h2>
    <h3>IT'S BEEN 100 DAYS!</h3>
  </div>

  <%= form_for(@survey_user) do |f| %>
  <div class="field">

    <h4>1. Have you found steady work in the tech field since graduation?</h4>

    <p><input type="checkbox" name="student[employed]" value="true"/> Yes! Employed </p>
   <p><input type="checkbox" id="employed" name="student[employed]" value="false"/> Nope! Still Searching!</p>

    <!-- jquery event for hiding/showing this -->
    <h4>2. Where are you working?</h4>
    <% f.label :employer %>
    <p><%= f.text_field :employer %></p>

    <h4> 3. If you're currently employed, what's your positon?</h4>
      <% f.label :employed_as %>
    <p><%= f.text_field :employed_as %></p>

    <%= form_for(@survey_user.contact) do |f| %>
      <h4> 4. Do you have a new email? (If yes, please update!)</h4>
        <% f.label :email %>
      <p><%= f.text_field :email %></p>

      <h4> 5. Do you have a personal website? (Please update!)</h4>
        <% f.label :website %>
      <p><%= f.text_field :website %></p>

      <h4> 6. Is this Github account still your best work?</h4>
        <% f.label :github %>
      <p><%= f.text_field :github %></p>

      <h4> 7. New phone number?</h4>
        <% f.label :phone %>
      <p><%= f.text_field :phone %></p>

      <br>
      
    <% end %>

    <div class="actions">
      <%= f.submit :Submit, id: 'survey-submit' %>
    </div>
  </div>

<% end %>

</div>
