<!DOCTYPE html>
<html>
<head>
  <title>OutcomesApp :: <%= controller_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<body id="<%= controller_name %>_<%= action_name %>" class="<%= controller_name %>">
	<div class="wrapper">

<!--  STARTING -->
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <header class="navbar  navbar-inverse">
   <div class="navbar-class">
     <div class="container">


     <!-- Collect the nav links, forms, and other content for toggling -->

       <ul class="nav navbar-nav">
         <li class="active"><a href="#">HOME</a></li>
         <li><%=link_to "ABOUT", about_us_path%></li>
         <li><%=link_to "OUR SERVICES", our_services_path %></li>
         <li><%=link_to "RATES", rates_path %></li>
         <li><%=link_to'CAREERS', careers_path%></li>
         <li><a href="#">TRAINING</a></li>
         <li><%= link_to"GALLERY", gallery_path %></li>
         <li><%=link_to"MEDIA", media_path%></li>
         <li><%=link_to"FAQS", faq_path %></li>
         <li><a href="#">CONTACT</a></li>
       </ul>


     </div>
   </div>
 </header>
<!--  ENDING-->

  	<%= yield %>



	</div>

</body>
</html>
